#map_container {
  overflow: hidden;
  width: 1024px;
  height: 600px;
  border-radius: 8px;
  background-color: white;
}

#mai_info {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

#mai_info h2 {
  color: var(--grey-700, #3F3F3F);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Title/Title 1 medium */
  font-family: Titillium Web;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 12px;
  /* 127.273% */
}

#mai_info p {
  margin-bottom: 24px;
  color: var(--grey-700, #3F3F3F);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Text/Text regular */
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

#address_input {
  border: 1px solid #CFCFCF;
  width: 830px;
  height: 32px;
  color: var(--text, #161616);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Text/Text regular */
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

#search_btn {
  border-color: #CFCFCF;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  background: #CFCFCF;
  margin-left: 14px;
  height: 32px;
  width: 114px;
}

#map {
  height: 416px;
}